body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #000000;
}

.container {
    border: black 5px solid;
    width: 95%;
    max-width: 1500px;
    margin: auto;
    padding-top: 10px;
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.1);
}

.profile-header{
    display: flex;
    flex-direction: column;
}

.profile-header img{
    width: 180px;
    border: black 5px solid;
    margin: auto;
    padding-bottom: 0%;
}

#nama {
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 900;
}

nav ul {
    margin: auto;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    font-weight: 900;
}

nav ul li {
    margin: 10px;
    margin-top: 0px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}

nav ul li a:hover{
    color: rgb(255, 0, 0);
}

section {
    padding: auto;
    padding-top: 30px;
}

.container h2{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 28px;
}

#about p{
    text-align: justify;
    margin: 0px 30px 30px;
    margin-bottom: 15px;
}

#experience{
    display: flex;
}

.ji-experience{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.ji-experience2{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    width: calc(100% - 230px);
}

.judul-experience{
    width: 200px;
    font-size: 20px;
    padding-left: 30px;
    display: flex;
    font-weight: 700;
}

.nama-experience{
    font-size: 20px;
    font-weight: 700;
    width: auto;
}

.flex-taun{
    display: flex;
    flex-direction: row;
    width: auto;
}

.taun{
    justify-content: right;
    font-size: 20px;
    padding-left: 10px;
    margin-left: auto;
    margin-right: 30px;
    width: 30%;
    text-align: right;
}


.isi-experience{
    padding-right: 30px;
}

.skill {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 30px;
}

.skill-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.skill-logo i.fab.fa-html5 {
    font-size: 50px;
    color: #E34F26;
}

.skill-logo i.fab.fa-css3-alt {
    font-size: 50px;
    color: #1572B6;
}

.skill-logo i.fab.fa-js {
    font-size: 50px;
    color: #F7DF1E;
}

.skill-logo i.fab.fa-python {
    font-size: 50px;
    color: #3776AB;
}

.skill-logo i.fas.fa-file-word {
    font-size: 50px;
    color: #2B579A;
}

.skill-logo i.fas.fa-file-excel {
    font-size: 50px;
    color: #217346;
}

.skill-logo i.fas.fa-file-powerpoint {
    font-size: 50px;
    color: #D24726;
}

.skill-logo i.fas.fa-database {
    font-size: 50px;
    color: #FF5733;
}

.skill-logo p {
    font-size: 18px;
    font-weight: 600;
}

#contact {
    padding: 30px 0;
    text-align: center;
}

#contact p {
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-info p {
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
}

.contact-info  {
    margin-right: 10px;
}

.contact-info a {
    text-decoration: none;
    color: #000000;
}

.contact-info a:hover {
    color: rgb(255, 0, 0);
}